.addressContainer{
    align-items: center;
    text-align: center;
}


.paddingInput{
    padding: 10px;
}

.paddingRight{
    margin-right: 20px;
}

//CSS class for Error-text
.errorText{
    font-size: 10px;
    color: red;
    font-weight: bold;
    padding-right: 10px;
}