/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

.appContainer{
    padding: 40px;
}
.heading1{
    color: orange;
}

.heading2{
    color: rgb(83, 131, 194);
}

.fadeText{
    color: rgb(124, 118, 118);
    font-size: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-modal-container .mat-dialog-container{
    padding: 0px !important;
    overflow: hidden !important;
    
}

.mat-dialog-title{
    background-color: rgb(31, 128, 82);
    font-size: large;
    padding: 10px;
}
